.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #141519; 
    font-family: 'Arial', sans-serif;
    color: white;
  }
  
    .card {
    background-color: #242526; 
    border-radius: 15px;
    padding: 30px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }
  
  .star {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: left;
    color: #fb7413;
  }
  
  
  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 0.875rem;
    color: #a5a5a5;
    margin-bottom: 20px;
  }
  
   .rating-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
    .rating-button {
    margin: 5px;
    padding: 15px 20px;
    background-color: #333; 
    color: white;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
  }
  
    .rating-button.selected {
    background-color: #fb7413; 
    transform: scale(1.1);
  }
  
    .rating-button:hover {
    background-color: #fb7413; 
  }
  
    .submit-button {
    width: 100%;
    padding: 15px;
    background-color: #fb7413;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
   .submit-button:disabled {
    background-color: #555;
    cursor: not-allowed;
  }
  
    .submit-button:hover:enabled {
    background-color: #ff8c42; 
  }
  
    .thank-you-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: white;
  }

  
  .thank-you-message {
    font-size: 1rem;
    color: #a5a5a5;
  }
    
  .thank-you-message {
    color: orange;
    margin-bottom: 20px;
  }
  